

.rate1{
padding-left: 134px;

}
h1{
  color: red;
}

.form-control{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  
  height: 40px;
	width: 200px;
	margin-top: 20px;
	padding-left: 10px;
	border: 2px solid #b10e0e;
	outline : none;
	border-radius: 30px;
  

}
.mb{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  
}




.card3{
  display:flex;
  justify-content:space-between;
  margin:auto;
  color:white;
  padding-top: 100px;
  padding-right: 50px;
  text-align: center;
}
body{
  background-color:black;
}
.bat1{
  padding-top: 30px;
  text-align:center;
  color:white;
  
}
.link{
  display:none;

}
